<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">
  <name>Ingetrace</name>
  <description>INGETRACE es una compañía dedicada al desarrollo de soluciones tecnológicas con el foco principal en la innovación sobre los procesos de control críticos para la rentabilidad de distintas industrias.</description>
  <author href="http://www.ingetrace.cl/" email="contacto@ingetrace.cl">Ingetrace</author>
  <splash platform="android" qualifier="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
  <splash platform="android" qualifier="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
  <splash platform="android" qualifier="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
  <splash platform="android" qualifier="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
  <splash platform="android" qualifier="land-ldpi" src="res/screen/android/splash-land-ldpi.png" />
  <splash platform="android" qualifier="land-mdpi" src="res/screen/android/splash-land-mdpi.png" />
  <splash platform="android" qualifier="land-hdpi" src="res/screen/android/splash-land-hdpi.png" />
  <splash platform="android" qualifier="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png" />
  <splash src="splash.png" />
  
  <content src="index.html"/>
  
  <preference name="phonegap-version" value="cli-6.3.0" />
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="Fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-targetSdkVersion" value="20"/>
  <preference name="android-installLocation" value="auto"/>
  <!-- Splashscreen config -->  
  <preference name="SplashScreen" value="screen"/>  
  <preference name="SplashScreenDelay" value="30000"/>  
  <preference name="FadeSplashScreenDuration" value="750"/>
  <preference name="SplashShowOnlyFirstTime" value="true"/>
  <preference name="ShowSplashScreenSpinner" value="false" />
  <!-- End of splashscreen config -->  
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.device-orientation"/>
  <gap:plugin name="org.apache.cordova.inappbrowser"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.vibration"/>
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.globalization"/>
  <icon src="icon.png"/>
  <icon src="www/res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="www/res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="www/res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="www/res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
  <icon src="www/res/icon/blackberry/icon-80.png" gap:platform="blackberry"/>
  <icon src="www/res/icon/blackberry/icon-80.png" gap:platform="blackberry" gap:state="hover"/>
  <icon src="www/res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57"/>
  <icon src="www/res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
  <icon src="www/res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114"/>
  <icon src="www/res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144"/>
  <icon src="www/res/icon/webos/icon-64.png" gap:platform="webos"/>
  <icon src="www/res/icon/windows-phone/icon-48.png" gap:platform="winphone"/>
  <icon src="www/res/icon/windows-phone/icon-173-tile.png" gap:platform="winphone" gap:role="background"/>
  <access origin="*"/>
  <gap:plugin name="cordova-plugin-crosswalk-webview-pgb-adapt" source="npm" version="1.4.0-dev-11"/>
  <plugin name="cordova-plugin-splashscreen" source="npm" />
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <plugin spec="https://github.com/phonegap-build/PushPlugin.git" source="git" />
  <plugin name="io.litehelpers.cordova.sqlite" spec="0.7.6" source="pgb" />
  <plugin name="fr.louisbl.cordova.gpslocation" spec="0.1.0" source="pgb" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
	<preference name="android-minSdkVersion" value="15"/>
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
